<nav class="menu__container">
  <div class="menu__container__logo">
    <a href="#"><img src="ps-logo.png" alt="Nada"></a>
  </div>
  <ul class="menu__container__list">
    <li>
      <a
        href="https://www.linkedin.com/in/levi-pereira-da-silva-61303a193/"
        target="_blank">
        Linkedin
      </a>
    </li>
    <li>
      <a
        href="https://levipereira9-portfolio.vercel.app/"
        target="_blank">
        Github
      </a>
    </li>
    <li>
      <a
        href="https://levipereira9-portfolio.vercel.app/"
        target="_blank">
        Portfólio
      </a>
    </li>
  </ul>
</nav>
